h2 {
	text-align: center;
}

#bar {
	text-align: center;
}

#pie {
	text-align: center;
}

#circle {
	text-align: center;
}

#weekPie {
	text-align: center;
}

#EmpExoplanet {
	text-align: center;
}	
